

  <% if @friendships %>
      <div class="row" style="width: 100%">
    <% @friendships.each do |friendship| %>
            <div class="3u 4u$(small)">
              <center>
                <%= image_tag('https://cdn1.iconfinder.com/data/icons/ninja-things-1/720/ninja-background-256.png', :id => "output", :style => "width:150px;height:150px", class: "img-circle") %>

                <p style="margin: 0"><%= friendship.friend.email %></p>
                <%= link_to "Unfriend", friendship_path(id: friendship.id),class:"button special", method: :delete %>
              </center>
            </div>
    <br></br>
    <% end %>
      </div>
  <% end %>

